@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker");

.header {
  &__container {
    border-bottom: 1px solid black;
    display: flex;
    gap: 6px;
    padding: 1rem;
    position: relative;
  }

  &__name {
    font-family: "Permanent Marker", cursive;
    font-size: 2rem;
    margin-left: 10px;
  }

  &__blog {
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 8px;
  }
}
