@import "./config";

// menu

.menu {
  &__frame {
    background-color: rgba(12, 9, 9, 0.329);
    border: 3px solid lightgrey;
    border-radius: 40px;
    width: 345px;
    @include transition-ease;

    &.hidden {
      background-color: transparent;
      border: none;
    }
  }

  &__icons-box {
    display: flex;
  }
}

// menu-icons css

.menu-icon {
  padding: 6px 20px;

  &__container {
    background: rgb(14, 199, 178);
    background: radial-gradient(
      circle,
      rgba(14, 199, 178, 1) 69%,
      rgba(93, 193, 106, 1) 100%
    );
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 45px;
    outline: none;
    position: relative;
    width: 45px;
    @include transition-ease;

    &.active {
      transform: rotate(180deg);
    }

    &.hidden {
      transform: translateX(-1000%);
    }
  }
}

// icons css

.arrow-icon {
  border: solid whitesmoke;
  border-width: 0 5px 5px 0;
  padding: 6px;
  position: absolute;
  top: 13px;
  transform: rotate(135deg);

  &.left {
    left: 10px;
  }

  &.right {
    left: 24px;
  }
}

.minus-icon {
  border: solid whitesmoke;
  border-width: 4px 0 0 0;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 12px;
  width: 20px;
}

.plus-icon {
  border: solid whitesmoke;
  height: 20px;
  width: 20px;
  position: absolute;

  &.x-axis {
    border-width: 4px 0 0 0;
    left: 13px;
    top: 20px;
  }

  &.y-axis {
    border-width: 0 4px 0 0;
    left: 5px;
    top: 12px;
  }
}

.pen-icon {
  color: whitesmoke;
  position: absolute;
  right: 12px;
  top: 10px;
}
