@import "./config";

@include tablet {
  .container {
    margin: 20px 0;
    width: 60vw;
  }

  .header {
    &__container {
      margin: 12px auto 0 auto;
      padding: 2rem;
      width: 80vw;
    }

    &__name {
      font-family: "Permanent Marker", cursive;
      font-size: 4rem;
      margin-left: 10px;
      margin-right: 16px;
    }

    &__blog {
      font-size: 3.6rem;
      font-weight: 200;
    }
  }

  .posts {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      width: 80vw;
    }
  }
}

@include desktop {
  .container {
    width: 40vw;
  }

  .posts {
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: start;
      width: 80vw;
    }
  }

  .post {
    &__frame {
      display: grid;
      grid-template-columns: 400px auto;
      column-gap: 20px;
      width: 80vw;
    }

    &__content {
      justify-content: space-between;
    }

    &__title {
      font-size: 3.6rem;
      letter-spacing: 0.4rem;
      line-height: 4rem;
    }
  }

  .form {
    & h2 {
      font-size: 2.4rem;
    }

    & h3 {
      font-size: 1.6rem;
    }

    &__label {
      font-size: 1.8rem;
    }

    &__group {
      margin-bottom: 3rem;
    }
  }
}
