@import "./config";

@include mobile {
  .search-bar {
    &--large {
      display: none;
    }
  }
}

@include tablet {
  .container {
    margin: 20px 0;
    width: 60vw;
  }

  .header {
    &__container {
      margin: 12px auto 0 auto;
      gap: 16px;
      padding: 2rem;
      width: 80vw;
    }

    &__name {
      font-family: "Permanent Marker", cursive;
      font-size: 4rem;
      margin-left: 10px;
    }

    &__blog {
      font-size: 3.6rem;
      font-weight: 200;
    }
  }

  .logout-icon {
    margin-top: 6px;
  }

  .posts {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      margin-top: 80px;
      width: 80vw;
    }
  }

  .post {
    &__content {
      justify-content: space-between;
    }

    &__author {
      font-size: 2rem;
      margin-bottom: 4rem;
    }
  }

  .post-page {
    &__container {
      width: 70vw;
    }

    &__content-container {
      column-gap: 6rem;
      display: flex;
      flex-direction: row;
    }

    &__image-container,
    &__text-container {
      flex-basis: 0;
      flex-grow: 1;
    }

    &__image-container {
      align-self: flex-start;
    }

    &__content {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }

  .search-bar {
    border: none;
    gap: 20px;
    width: 70%;

    &__input {
      font-size: 2rem;
    }

    &__icon {
      margin-top: 16px;
    }
  }

  .menu {
    top: 120px;
  }
}

@include desktop {
  .container {
    width: 40vw;
  }

  .posts {
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: start;
      margin-top: 50px;
      width: 80vw;
    }
  }

  .post {
    &__frame {
      display: grid;
      grid-template-columns: 400px auto;
      column-gap: 20px;
      width: 100%;
    }

    &__content {
      overflow: hidden;
    }

    &__title {
      font-size: 3.6rem;
      letter-spacing: 0.4rem;
      line-height: 4rem;
    }

    &__author {
      display: inline-block;
      font-size: 2rem;
      vertical-align: text-bottom;
    }
  }

  .form {
    & h2 {
      font-size: 2.4rem;
    }

    & h3 {
      font-size: 1.6rem;
    }

    &__label {
      font-size: 1.8rem;
    }

    &__group {
      margin-bottom: 2rem;
    }

    &__btn {
      font-size: 2rem;
    }
  }

  .menu {
    left: 35px;
    top: 160px;

    &__icons-box {
      display: flex;
      flex-direction: column;
    }
  }

  .menu-icon {
    padding: 10px 10px 10px 16px;

    &.hidden {
      transform: translateY(-1200%);
    }
  }

  .arrow-icon {
    top: 11px;
    transform: rotate(224deg);

    &.left {
      left: 14px;
    }
    &.right {
      left: 14px;
      top: 24px;
    }
  }
}
