@import "./config";
@import "./header";
@import "./posts";
@import "./common-utils";
@import "./form";
@import "./postpage";
@import "./search-bar";
@import "./menu";
@import "./not-found";
// responsiveness needs to be at the bottom to override the original properties
@import "./reponsiveness";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  margin: 20px auto 20px auto;
}
